* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*#9F5255, #DCBDC1, #E16A54, #7C444F */

/*#2A4E87, #3E6BAA, #618ECF, #618ECF*/

html, body, #root {
    min-height: 100vh;
    /*background-color: white;*/
    /*background-color: #E6E6E6;*/
    background-color: #f3f5f8
    /*background: linear-gradient(135deg, #E6E6E6, #1E3A8A);*/
    /*background: linear-gradient(135deg, #E6E6E6, #003366);*/
}

.app {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
}

