@import "/public/assets/css/colors.css";

.floating-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.page-wrapper{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 50px;
    padding-top: 100px;
}


.cursor-zoom-in {
    cursor: zoom-in;
    transition: all 0.2s ease;
}
.cursor-zoom-in:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}



.custom-btn {
    background: linear-gradient(135deg, var(--blue-dark-main) 0%, var(--blue-light-main) 100%);
    color: white !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    transition: background 0.5s ease, transform 0.5s ease !important;
}
.custom-btn:hover {
    background: linear-gradient(135deg, var(--blue-dark--main-hover)  0%, #4678e0 100%);
    color: white !important;
}

.color-gray {
    color: gray;
}

.custom-container-md {
    max-width: 70%;
    margin: auto;
}

.custom-container {
    max-width: 50%;
    margin: auto;
}

@media (max-width: 768px) {
    .custom-container {
        max-width: 80%;
    }

    .custom-container-md {
        max-width: 90%;
    }
}

p, h5, h4 {
    margin-bottom: 0 !important;
}

.profile-pic {
    border-radius: 100px;
    object-fit: cover;
}



.page-link {
    color: black;
}

.page-link i {
    scale: 80% !important;
}

i {
    scale: 120%;
}

@media (max-width: 576px) {
    .responsive-text {
        font-size: 0.875em;
    }

    .w-75 {
        width: 100% !important;
    }
}
.or-thing {
    border-top: 1px solid rgb(213, 213, 213);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 40px;
}

.or-thing span {
    margin-top: -13px;
    background-color: rgb(255, 255, 255);
    padding: 0px 8px;
}