.navbar {
    /*background-color: #f8f9fa;*/
    background-color: #FAFAFA !important;
    display: block;
    position: fixed;
    z-index: 10;
}

.custom-button {
    background-color: #618ECF;
    color: white;
    border: none;
}