<section class="custom-container mt-5">
    <div class="d-flex flex-column gap-3">
        <div class="floating-card shadow-sm px-4 py-3 container">

            <div class="d-flex justify-content-between align-items-end">
                <div class="d-flex align-items-center gap-3">
                    <img id="profile-pic" class="profile-pic" th:src="@{${standardUser.getProfilePicPath()}}" width="100" height="100" alt="">
                    <div>
                        <h5 class="fw-bold text-dark-emphasis" th:text="${standardUser.getName()}"></h5>
                        <p style="color: gray">21 years old</p>
                    </div>
                </div>

                <button type="button" class="btn btn-light" onclick="document.getElementById('logo-upload-input').click();">
                    <i class="fa-solid fa-camera"></i> Change profile picture
                </button>
            </div>

            <form th:action="@{/profile/upload-profile-pic}" method="post" enctype="multipart/form-data">
                <input
                        type="file"
                        name="file"
                        id="logo-upload-input"
                        accept="image/*"
                        style="display: none"
                        onchange="showPreview(event)"
                />

                <div class="confirmation-bar" style="display: none;">
                    <div class="confirmation-bar-buttons">
                        <button type="button" class="cancel-changes" th:data="${standardUser.getProfilePicPath()}" onclick="cancelUpload(this.getAttribute('data'))">Cancel</button>
                        <button type="submit" class="save-changes">Save changes</button>

                    </div>
                </div>
            </form>


        </div>

        <div class="floating-card  shadow-sm p-3">
            <h5>Verify your profile</h5>


        </div>

        <div class="floating-card shadow-sm p-3">
            <h5>About you</h5>


        </div>


        <div class="floating-card  shadow-sm p-3">
            <h5>Vehicles</h5>
            <div class="rounded border-dashed border-gray-500 p-3 mb-2 text-center cursor-pointer">
                <a
                        th:href="@{/vehicles/add}"
                        class="text-reset text-decoration-none">
                    + Add vehicle
                </a>
            </div>

            <div th:each="vehicle :${vehicles}" class="rounded bg-light p-3 mb-2">
                <div th:if="${vehicle != null}" class="d-flex justify-content-between">
                    <div>
                        <i th:classappend="${vehicle.getType().getIconClass()}"></i>
                        <span th:text="${vehicle.getBrand()}"></span>
                        <span th:text="${vehicle.getModel()}"></span>
                        <span th:text="${vehicle.getColor().name()}"></span>
                        <span th:text="${vehicle.getCapacity()}"></span>
                    </div>
                    <div class="d-flex gap-1">
                        <form th:method="GET" th:action="@{'/vehicles/edit/' + ${vehicle.getId()}}" >
                            <button type="submit" class="action-button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </form>

                        <form th:method="DELETE" th:action="@{'/vehicles/delete/' + ${vehicle.getId()}}">
                            <button type="submit" class="action-button">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function showPreview(event) {
        const file = event.target.files[0];
        let el = document.getElementsByClassName('confirmation-bar')
        el[0].style.display = 'block';

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('profile-pic').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }

    function cancelUpload(path) {
        document.getElementById('logo-upload-input').value = '';
        document.getElementById('confirmation-bar').style.display = 'none';

        document.getElementById('profile-pic').src = path;
    }
</script>
