@import "/public/assets/css/colors.css";

.action-button {
    background: none;
    border: none;
    transform: scale(1.4);
    transition: 0.3s;
    color: var(--blue-dark-main);
}
.action-button:hover {
    color: var(--blue-dark--main-hover);
}

.border-dashed {
    border: 2px solid black;
    border-style: dashed;
}

.cursor-pointer {
    cursor: pointer;
}