
.status-bar {
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    text-align: center;
    width: 120px;
}

.pending-status-bar {
    background: #F5A623;
    color: white;
}

.cancelled-status-bar {
    background: #D0021B;
    color: white;
}

.finished-status-bar {
    background: #4A90E2;
    color: white;
}

.confirmed-status-bar {
    background: #3EB489;
    color: white;
}

.ride-card {
    padding: 0 !important;
    transition: 0.2s;
}

.ride-card:hover {
    /*transform: translate(0, 3px);*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 30;
}

