
.status-bar {
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    text-align: center;
    width: 120px;
    /*background: lightpink;*/
    /*color: black;*/
}

.pending-status-bar {
    background: #F5A623;
    color: white;
}

.cancelled-status-bar {
    background: #D0021B;
    color: white;
}

.finished-status-bar {
    background: #4A90E2;
    color: white;
}

.confirmed-status-bar {
    background: #3EB489;
    color: white;
}

.ride-card {
    padding: 0 !important;
    transition: 0.2s;

    /*background: #F5F5F5; !* Light gray *!*/
    /*border: 1px solid #DDDDDD; !* Subtle border for separation *!*/
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); !* Light shadow for depth *!*/
    /*border-radius: 10px;*/

}

.ride-card-border {
    border-bottom: 3px solid lightgrey;
}

.ride-card:hover {
    /*transform: translate(0, 3px);*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    z-index: 30;
}

