
.status-bar {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    padding: 5px 10px;
    text-align: center;
    width: 120px;
    background: #F5F5F5; /* neutral */
    border-left: 4px solid;
    /*background: lightpink;*/
    /*color: black;*/
}

.pending-status-bar { border-color: #F4A261; }
.cancelled-status-bar { border-color: #D66A6A; }   /* muted soft red */
.finished-status-bar  { border-color: #6BAED6; }   /* calm blue */
.confirmed-status-bar { border-color: #5BA27C; }

.ride-card {
    /*padding: 0 !important;*/
    transition: 0.2s;

    /*background: #F5F5F5; !* Light gray *!*/
    /*border: 1px solid #DDDDDD; !* Subtle border for separation *!*/
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); !* Light shadow for depth *!*/
    /*border-radius: 10px;*/

}

.ride-card-border {
    border-bottom: 3px solid lightgrey;
}

.ride-card:hover {
    /*transform: translate(0, 3px);*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    z-index: 30;
}

